In [1]:
import sys
import pandas as pd
import numpy as np

In [2]:
data1 = pd.read_csv('2017_1.csv')
data2 = pd.read_csv('2017_2.csv')
data3 = pd.read_csv('2018_1.csv')
data4 = pd.read_csv('2018_2.csv')
data5 = pd.read_csv('2019_1.csv')
data6 = pd.read_csv('2019_2.csv')

df1 = pd.DataFrame(data1, dtype=object)
df2 = pd.DataFrame(data2, dtype=object)
df3 = pd.DataFrame(data3, dtype=object)
df4 = pd.DataFrame(data4, dtype=object)
df5 = pd.DataFrame(data5, dtype=object)
df6 = pd.DataFrame(data6, dtype=object)

In [3]:
total_df = pd.concat([df1, df2, df3, df4, df5, df6])

In [4]:
def keyword_diff(keyword, df):
    diff = df[df['body'].str.contains(keyword, case=False, regex=True) & ~total_df['body'].str.contains("climate change|global warming|greenhouse effect|greenhouse gas*", case=False, regex=True)] 
    print("Number of articles containing", keyword, "and not other chosen keywords: ", len(diff))
    return diff


#diff = keyword_diff("Paris Agreement", total_df)
def keyword_filter(df):
    filtered_df = df[df['body'].str.contains("climate change|global warming|greenhouse effect|greenhouse gas*", regex=True, case=False)]
    print("Number of articles containing the keywords are: ", len(filtered_df))
    return filtered_df

In [5]:

filtered_df = keyword_filter(total_df)
#dfs = filter_df("climate change|global warming|greenhouse effect|climate crisis|climate emergency", [df1, df2, df3, df4, df5, df6] )
#dfs

Number of articles containing the keywords are:  26662

In [7]:
filtered_df.to_csv("climate_data.csv")

In [12]:

all_outlets = filtered_df['outlet'].unique()
print(filtered_df['outlet'].value_counts())
print("----------------------------------------------------------")
print(total_df['outlet'].value_counts())

filtered_vals = filtered_df['outlet'].value_counts().index
total_vals = total_df['outlet'].value_counts().index

The Guardian               6639
HuffPost                   2760
Fox News                   1580
ABC News                   1485
BBC                        1406
The New York Times         1397
Breitbart                  1393
Los Angeles Times          1357
Politico                   1246
CNN                        1131
NPR                        1097
Reuters                    1051
USA Today                  1042
NBC News                    797
Chicago Tribune             771
CBS News                    698
Slate                       614
The Wall Street Journal     198
Name: outlet, dtype: int64
----------------------------------------------------------
The Guardian               97943
Fox News                   88043
Reuters                    87444
BBC                        76310
ABC News                   61310
Breitbart                  56663
CNN                        51168
HuffPost                   48628
Chicago Tribune            45859
NPR                        41623
The Wall Street Journal    40659
The New York Times         40404
NBC News                   36968
Los Angeles Times          36464
USA Today                  30077
CBS News                   28028
Politico                   23223
Slate                      14758
Name: outlet, dtype: int64

In [17]:
for i in range(len(all_outlets)):
    print(total_vals[i])

The Guardian
Fox News
Reuters
BBC
ABC News
Breitbart
CNN
HuffPost
Chicago Tribune
NPR
The Wall Street Journal
The New York Times
NBC News
Los Angeles Times
USA Today
CBS News
Politico
Slate

In [93]:
#combined_df.to_csv("climate_data_title.csv")

In [88]:
cnn = combined_df[combined_df['outlet'].str.contains("CNN")]
fox = combined_df[combined_df['outlet'].str.contains("Fox News")]
npr = combined_df[combined_df['outlet'].str.contains("NPR")]
nytimes = combined_df[combined_df['outlet'].str.contains("The New York Times")]
breitbart = combined_df[combined_df['outlet'].str.contains("Breitbart")]
cns = combined_df[combined_df['outlet'].str.contains("CNS")]

In [90]:
print(len(cnn))
print(len(fox))
print(len(npr))
print(len(nytimes))
print(len(breitbart))
print(len(cns))

1047
1419
1004
1298
1307
0

In [19]:
print(len(filtered_df))

26662

In [21]:
pd.read_csv('Book1.csv')

,Outlet,Total articles,Climate related articles,Percent related to climate,Share of total dataset,Share of climate dataset
0,The Guardian,97943,6639,6.778432,10.815595,24.900608
1,HuffPost,48628,2760,5.675742,5.369866,10.351812
2,Fox News,88043,1580,1.794578,9.722363,5.926037
3,ABC News,61310,1485,2.422117,6.770307,5.569725
4,BBC,76310,1406,1.842485,8.426718,5.273423
5,The New York Times,40404,1397,3.457578,4.461710,5.239667
6,Breitbart,56663,1393,2.458394,6.257150,5.224664
7,Los Angeles Times,36464,1357,3.721479,4.026626,5.089641
8,Politico,23223,1246,5.365371,2.564456,4.673318
9,CNN,51168,1131,2.210366,5.650351,4.241992
10,NPR,41623,1097,2.635562,4.596321,4.114470
11,Reuters,87444,1051,1.201912,9.656217,3.941940
12,USA Today,30077,1042,3.464441,3.321326,3.908184
13,NBC News,36968,797,2.155919,4.082282,2.989273
14,Chicago Tribune,45859,771,1.681240,5.064092,2.891756
15,CBS News,28028,698,2.490367,3.095060,2.617958
16,Slate,14758,614,4.160455,1.629688,2.302903
17,The Wall Street Journal,40659,198,0.486977,4.489869,0.742630